# ignore python cache files
data_process/.cache/
.venv
data_process/fulldataset/
data_process/.gitattributes
__pycache__/
sklearn-env/
dsets/percentage/distributed

# Ingore any __pycache__/
__pycache__/
*.pth
*.pt