netCDF4==1.7.2
triton==3.2.0
xgboost==2.1.3
nvidia-nvjitlink-cu12==12.4.127
joblib==1.4.2
tzdata==2025.1
numpy==2.1.3
pillow==11.1.0
urllib3==2.3.0
sympy==1.13.1
fonttools==4.56.0
nvidia-cudnn-cu12==9.1.0.70
contourpy==1.3.1
pydantic_core==2.27.2
seaborn==0.13.2
torch==2.6.0
nvidia-cusparse-cu12==12.3.1.170
nvidia-cublas-cu12==12.4.5.8
protobuf==5.29.3
setproctitle==1.3.4
huggingface-hub==0.26.3
platformdirs==4.3.6
nvidia-nccl-cu12==2.21.5
GitPython==3.1.44
pandas==2.2.3
nvidia-cufft-cu12==11.2.1.3
smmap==5.0.2
pydantic==2.10.6
lightgbm==4.6.0
nvidia-curand-cu12==10.3.5.147
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cusolver-cu12==11.6.1.9
cftime==1.6.4.post1
wandb==0.19.6
nvidia-nvtx-cu12==12.4.127
nvidia-cuda-cupti-cu12==12.4.127
xarray==2024.11.0
tqdm==4.67.1
threadpoolctl==3.5.0
scikit-learn==1.6.0
networkx==3.4.2
annotated-types==0.7.0
gitdb==4.0.12
h5py==3.12.1
sentry-sdk==2.22.0
cycler==0.12.1
filelock==3.17.0
h5netcdf==1.4.1
docker-pycreds==0.4.0
nvidia-cusparselt-cu12==0.6.2
psutil==7.0.0
mpmath==1.3.0
typing_extensions==4.12.2
packaging==24.2
fsspec==2025.2.0
matplotlib==3.10.0
nvidia-cuda-runtime-cu12==12.4.127
kiwisolver==1.4.8
scipy==1.15.2
python-dateutil==2.9.0.post0
ansible==9.1.0
prettytable==3.14.0
docker==7.1.0
resolvelib==1.0.1
charset-normalizer==3.4.1
python-irodsclient==3.0.0
ansible-core==2.16.14
defusedxml==0.7.1
wcwidth==0.2.13
pip==25.0.1
requests==2.32.3
incremental==21.3.0
jsonschema==3.2.0
service-identity==18.1.0
jsonpatch==1.32
httplib2==0.20.2
ubuntu-pro-client==8001
PyJWT==2.3.0
cloud-init==24.4
pyinotify==0.9.6
pyparsing==2.4.7
distro==1.7.0
python-apt==2.4.0+ubuntu4
wadllib==1.3.6
pexpect==4.8.0
lazr.restfulclient==0.14.4
pyasn1-modules==0.2.1
systemd-python==234
setuptools==59.6.0
python-magic==0.4.24
MarkupSafe==2.0.1
Jinja2==3.0.3
pyserial==3.5
Twisted==22.1.0
pytz==2022.1
jsonpointer==2.0
lazr.uri==1.0.6
pyOpenSSL==21.0.0
urllib3==1.26.5
hyperlink==21.0.0
packaging==21.3
xkit==0.0.0
Babel==2.8.0
configobj==5.0.6
Automat==20.2.0
ssh-import-id==5.11
PyGObject==3.42.1
certifi==2020.6.20
constantly==15.1.0
jeepney==0.7.1
colorama==0.4.4
SecretStorage==3.3.1
ufw==0.36.1
unattended-upgrades==0.1
attrs==21.2.0
screen-resolution-extra==0.0.0
pyrsistent==0.18.1
fail2ban==0.11.2
zipp==1.0.0
sos==4.7.2
command-not-found==0.3
wheel==0.37.1
blinker==1.4
zope.interface==5.4.0
more-itertools==8.10.0
keyring==23.5.0
idna==3.3
distro-info==1.1+ubuntu0.2
python-debian==0.1.43+ubuntu1.1
launchpadlib==1.10.16
PyYAML==5.4.1
oauthlib==3.2.0
click==8.0.3
six==1.16.0
bcrypt==3.2.0
dbus-python==1.2.18
PyHamcrest==2.0.2
netifaces==0.11.0
importlib-metadata==4.6.4
chardet==4.0.0
cryptography==3.4.8
ptyprocess==0.7.0
pyasn1==0.4.8
